.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.homeContainer h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.homeContainer h1 span {
  color: #8EE5EE;
  padding: 0.1em 0.2em;
  background-color: #222;
  border-radius: 0.2em;
}

.homeContainer p {
  margin-bottom: 1.5em;
  color: #222;
}

.homeContainer img {
  margin: 2em 0;
  width: 350px;
}