.footer {
   background-color: #222;
   color: #fff;
   padding: 3em;
   text-align: center;
}

.socialList {
   display: flex;
   justify-content: center;
   list-style-type: none;
}

.socialList li {
   margin: 0 1em;
}

.socialList li:hover {
   color: #8EE5EE;
}

.socialList li svg {
   font-size: 1.5em;
   cursor: pointer;
}

.copyRight {
   margin-top: 2em;
}

.copyRight span{
   font-weight: bold;
   color: #8EE5EE;
}

